

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* GSK */

body {
    background-image: url(img/back.jpg);
    background-size: cover;
    background-position:center;
    font-family: arial;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: #e7e7e7;
    text-shadow: 1px 1px 0 #333, 0px 1px 0 #333, -1px -1px 0 #333, -1px -1px 0 #333, -1px 1px 0 #333, 1px -1px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa;
}

.container {
    width: 600px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.area-komputer {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    background-color: lightblue;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 100%);
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
}

.area-player {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    background-color: lightgreen;
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    position: relative;
    border-radius: 0 0 40px 40px;
}

.info {
    width: 150px;
    height: 60px;
    border: 5px solid gray;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -30px;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    line-height: 60px;
    color: #f89bb4;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

ul {
    padding-top: 80px;
    padding-left: 25px;
}

li {
    display: inline-block;
    margin: 0 18px;
}

img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    border-radius: 10%;
    border: solid 4px black;
    
}

.rock, .scissors, .paper {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissors:hover, .active {
    box-shadow: 0 0 10px 5px limegreen;
}

.rock:active, .paper:active, .scissors:active {
    top: 2px;
}

.score-komputer {
    font-weight: bold;
    position: absolute;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: solid 1px black;
    background-color: white;
    border-radius: 15px;

}

.score-player {
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: solid 1px black;
    background-color: white;
    border-radius: 15px;
}

section {
    width:100%;
    position:relative;
    

}

.button {
    color: white;
    padding-top:20px;
    margin:auto;
    text-align:center;
}
a .button span {
    padding:5px 10px;
    background-color: black;
    border-radius:15px;
    border:solid 2px white;
    text-decoration:none;
}
@media screen and (max-width: 615px) {
    
        
    .container {
        width: 450px;
        padding: 1px;
        margin:auto 0px 0px;
        top:20px;
        position:relative;
    }

    .area-komputer {
        width: 400px;
        height: 200px;
        margin: 1px auto;
        background-color: lightblue;
        background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 100%);
        position: relative;
        padding-top: 40px;
        box-sizing: border-box;
        border-radius: 40px 40px 0 0;
    }
    img {
        width: 70px;
        height: 70px;
        display: block;
        margin: auto;
        border-radius: 10%;
        border: solid 4px black;
        
    }

    .area-player {
        width: 400px;
        height: 200px;
        margin: 5px auto;
        background-color: lightgreen;
        background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
        position: relative;
        border-radius: 0 0 40px 40px;
    }

    .info {
        width: 130px;
        height: 40px;
        border: 3px solid gray;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 50%;
        margin-top: -30px;
        background-color: white;
        border-radius: 20px;
        z-index: 1;
        text-align: center;
        line-height: 39px;
        color: #f89bb4;
        font-size: 20px;
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }

    h1{
        font-size: 30px;
        text-align: 20px;
    }

    
    body {
        background-image: url(img/back.jpg);
        background-size: contain;
        background-position:center;
        font-family: arial;
    }
  }